In [1]:
gender <- c("Male", "Female", "Male", "Female", "Female")

gender

[1] "Male"   "Female" "Male"   "Female" "Female"

In [2]:
class(gender)

[1] "character"

In [3]:
gender.factor <- factor(gender)

gender.factor

[1] Male   Female Male   Female Female
Levels: Female Male

In [4]:
str(gender.factor)

 Factor w/ 2 levels "Female","Male": 2 1 2 1 1

In [5]:
unclass(gender.factor)

[1] 2 1 2 1 1
attr(,"levels")
[1] "Female" "Male"

In [6]:
gender.factor[6] <- "Other"

gender.factor

Warning message in `[<-.factor`(`*tmp*`, 6, value = "Other"):
“invalid factor level, NA generated”

[1] Male   Female Male   Female Female <NA>
Levels: Female Male

In [7]:
gender.factor <- factor(gender, levels=c("Female", "Male", "Other"))

gender.factor

[1] Male   Female Male   Female Female
Levels: Female Male Other

In [8]:
levels(gender.factor)

[1] "Female" "Male"   "Other"

In [9]:
nlevels(gender.factor)

[1] 3

In [10]:
gender.factor[6] <- "Other"

gender.factor

[1] Male   Female Male   Female Female Other
Levels: Female Male Other

In [11]:
str(gender.factor)

 Factor w/ 3 levels "Female","Male",..: 2 1 2 1 1 3

In [12]:
gender.char <- sample(c("female", "male"), 100000, replace = TRUE)

object.size(gender.char)

800160 bytes

In [13]:
gender.fac <- factor(gender.char)

object.size(gender.fac)

400560 bytes

In [14]:
employee.data <- data.frame(id = 1001:1007,
                            
                            name = c("Amanda", "Isaac", "Philip", 
                                     "Felicia", "Jason", "George", "Lily"),
                            
                            department = c("Test Engineering", "Test Engineering", 
                                           "Engineering", "Engineering",
                                           "Sales", "HR", "Operations"),
                            
                            gender = c("F", "M", "M", "F", "M", "M", "F"),
                            
                            type = c("Fulltime", "Fulltime", "Contract", "Contract", 
                                     "Fulltime", "Contract", "Fulltime"),
                            
                            salary = c(135000, 28000, 40000, 166000, 135000, 40000, 50000),
                            
                            stringsAsFactors = TRUE)

employee.data

  id   name    department       gender type     salary
1 1001 Amanda  Test Engineering F      Fulltime 135000
2 1002 Isaac   Test Engineering M      Fulltime  28000
3 1003 Philip  Engineering      M      Contract  40000
4 1004 Felicia Engineering      F      Contract 166000
5 1005 Jason   Sales            M      Fulltime 135000
6 1006 George  HR               M      Contract  40000
7 1007 Lily    Operations       F      Fulltime  50000

In [15]:
class(employee.data$department)

[1] "factor"

In [16]:
class(employee.data$name)

[1] "factor"

In [17]:
employee.data <- data.frame(id = 1001:1007,
                            
                            name = c("Amanda", "Isaac", "Philip", 
                                     "Felicia", "Jason", "George", "Lily"),
                            
                            department = factor(c("Test Engineering", "Test Engineering", 
                                                  "Engineering", "Engineering",
                                                  "Sales", "HR", "Operations")),
                            
                            gender = factor(c("F", "M", "M", "F", "M", "M", "F")),
                            
                            type = factor(c("Fulltime", "Fulltime", "Contract", 
                                            "Contract", "Parttime", "Parttime", "Fulltime"), 
                                          levels=c("Fulltime", "Contract", "Parttime")),
                            
                            salary = c(135000, 28000, 40000, 166000, 135000, 40000, 50000),
                            
                            stringsAsFactors = FALSE)

employee.data

  id   name    department       gender type     salary
1 1001 Amanda  Test Engineering F      Fulltime 135000
2 1002 Isaac   Test Engineering M      Fulltime  28000
3 1003 Philip  Engineering      M      Contract  40000
4 1004 Felicia Engineering      F      Contract 166000
5 1005 Jason   Sales            M      Parttime 135000
6 1006 George  HR               M      Parttime  40000
7 1007 Lily    Operations       F      Fulltime  50000

In [18]:
class(employee.data$name)

[1] "character"

In [19]:
class(employee.data$department)

[1] "factor"

In [20]:
employee.data$department

[1] Test Engineering Test Engineering Engineering      Engineering
[5] Sales            HR               Operations
Levels: Engineering HR Operations Sales Test Engineering

In [21]:
employee.data$gender

[1] F M M F M M F
Levels: F M

In [22]:
employee.data$type

[1] Fulltime Fulltime Contract Contract Parttime Parttime Fulltime
Levels: Fulltime Contract Parttime

In [23]:
employee.data$type[1]

[1] Fulltime
Levels: Fulltime Contract Parttime

In [24]:
employee.data.subset <- employee.data[employee.data$department == "Test Engineering" |
                                      employee.data$department == "Sales" |
                                      employee.data$department == "HR",]

employee.data.subset

  id   name   department       gender type     salary
1 1001 Amanda Test Engineering F      Fulltime 135000
2 1002 Isaac  Test Engineering M      Fulltime  28000
5 1005 Jason  Sales            M      Parttime 135000
6 1006 George HR               M      Parttime  40000

In [25]:
unique(employee.data.subset$type)

[1] Fulltime Parttime
Levels: Fulltime Contract Parttime

In [26]:
employee.data.subset$type <- droplevels(employee.data.subset$type)

employee.data.subset$type

[1] Fulltime Fulltime Parttime Parttime
Levels: Fulltime Parttime

In [27]:
bug.priority <- sample(c("low", "medium", "high", "urgent"), 50, replace=TRUE)

bug.priority

 [1] "low"    "high"   "high"   "medium" "medium" "urgent" "medium" "high"
 [9] "high"   "medium" "high"   "low"    "urgent" "low"    "high"   "urgent"
[17] "low"    "urgent" "high"   "low"    "low"    "medium" "urgent" "urgent"
[25] "high"   "high"   "low"    "high"   "low"    "urgent" "low"    "high"
[33] "low"    "medium" "urgent" "urgent" "low"    "low"    "medium" "high"
[41] "low"    "high"   "low"    "medium" "medium" "high"   "urgent" "urgent"
[49] "medium" "high"

In [28]:
bug.priority.factor <- factor(bug.priority)

levels(bug.priority.factor)

[1] "high"   "low"    "medium" "urgent"

In [29]:
bug.priority.factor <- ordered(bug.priority, levels=c("low", "medium", "high", "urgent"))

levels(bug.priority.factor)

[1] "low"    "medium" "high"   "urgent"

In [30]:
tapply(employee.data$salary, employee.data$department, mean)

     Engineering               HR       Operations            Sales
          103000            40000            50000           135000
Test Engineering
           81500

In [31]:
tapply(employee.data$salary, employee.data$type, max)

Fulltime Contract Parttime
  135000   166000   135000

In [32]:
tapply(employee.data$salary, list(employee.data$gender, employee.data$type), median)

  Fulltime Contract Parttime
F 92500    166000      NA
M 28000     40000   87500

In [33]:
split(employee.data, employee.data$department)

$Engineering
    id    name  department gender     type salary
3 1003  Philip Engineering      M Contract  40000
4 1004 Felicia Engineering      F Contract 166000

$HR
    id   name department gender     type salary
6 1006 George         HR      M Parttime  40000

$Operations
    id name department gender     type salary
7 1007 Lily Operations      F Fulltime  50000

$Sales
    id  name department gender     type salary
5 1005 Jason      Sales      M Parttime 135000

$`Test Engineering`
    id   name       department gender     type salary
1 1001 Amanda Test Engineering      F Fulltime 135000
2 1002  Isaac Test Engineering      M Fulltime  28000

In [34]:
split(employee.data, employee.data$gender)

$F
    id    name       department gender     type salary
1 1001  Amanda Test Engineering      F Fulltime 135000
4 1004 Felicia      Engineering      F Contract 166000
7 1007    Lily       Operations      F Fulltime  50000

$M
    id   name       department gender     type salary
2 1002  Isaac Test Engineering      M Fulltime  28000
3 1003 Philip      Engineering      M Contract  40000
5 1005  Jason            Sales      M Parttime 135000
6 1006 George               HR      M Parttime  40000