In [1]:
some.string <- "Strings are usually specified using double quotes"

some.string

[1] "Strings are usually specified using double quotes"

In [2]:
another.string <- 'Use single quotes to enclose something in "double quotes"'

another.string

[1] "Use single quotes to enclose something in \"double quotes\""

In [3]:
class(some.string)

[1] "character"

In [4]:
class(another.string)

[1] "character"

In [5]:
first.name <- "Harry"
last.name <- "Potter"

In [6]:
first.name + last.name

ERROR: Error in first.name + last.name: non-numeric argument to binary operator

In [7]:
cat(first.name, last.name)

Harry Potter

In [8]:
length(first.name)

[1] 1

In [9]:
nchar(first.name)

[1] 5

In [10]:
cat("Toyota", c("Camry", "Corolla"))

Toyota Camry Corolla

In [11]:
paste("Toyota", c("Camry", "Corolla"))

[1] "Toyota Camry"   "Toyota Corolla"

In [12]:
paste("Toyota", c("Camry", "Corolla"), sep="--")

[1] "Toyota--Camry"   "Toyota--Corolla"

In [13]:
paste("Toyota", c("Camry", "Corolla"), collapse=", ")

[1] "Toyota Camry, Toyota Corolla"

In [14]:
welcome.to.r <- "Welcome to the world of R programming!"

welcome.to.r

[1] "Welcome to the world of R programming!"

In [15]:
tolower(welcome.to.r)

[1] "welcome to the world of r programming!"

In [16]:
toupper(welcome.to.r)

[1] "WELCOME TO THE WORLD OF R PROGRAMMING!"

In [17]:
substring(welcome.to.r, 1, 7)

[1] "Welcome"

In [18]:
substring(welcome.to.r, 9)

[1] "to the world of R programming!"

In [19]:
strsplit(welcome.to.r, " ")

[[1]]
[1] "Welcome"      "to"           "the"          "world"        "of"
[6] "R"            "programming!"

In [20]:
sequence <- 10:15

sequence

[1] 10 11 12 13 14 15

In [21]:
sqrt.sequence <- sqrt(sequence)

sqrt.sequence

[1] 3.162278 3.316625 3.464102 3.605551 3.741657 3.872983

In [22]:
formatC(sqrt.sequence)

[1] "3.162" "3.317" "3.464" "3.606" "3.742" "3.873"

In [23]:
formatC(sqrt.sequence, digits=3)

[1] "3.16" "3.32" "3.46" "3.61" "3.74" "3.87"

In [24]:
formatC(sqrt.sequence, digits=3, width=8)

[1] "    3.16" "    3.32" "    3.46" "    3.61" "    3.74" "    3.87"

In [25]:
formatC(sqrt.sequence, digits=3, format="e")

[1] "3.162e+00" "3.317e+00" "3.464e+00" "3.606e+00" "3.742e+00" "3.873e+00"

In [26]:
sprintf("%s %d %s %f", "Number:", sequence, "Square root:", sqrt.sequence)

[1] "Number: 10 Square root: 3.162278" "Number: 11 Square root: 3.316625"
[3] "Number: 12 Square root: 3.464102" "Number: 13 Square root: 3.605551"
[5] "Number: 14 Square root: 3.741657" "Number: 15 Square root: 3.872983"

In [27]:
sprintf("%s %d %s %.3f", "Number:", sequence, "Square root:", sqrt.sequence)

[1] "Number: 10 Square root: 3.162" "Number: 11 Square root: 3.317"
[3] "Number: 12 Square root: 3.464" "Number: 13 Square root: 3.606"
[5] "Number: 14 Square root: 3.742" "Number: 15 Square root: 3.873"

In [28]:
sprintf("%s %d %s %e", "Number:", sequence, "Square root:", sqrt.sequence)

[1] "Number: 10 Square root: 3.162278e+00"
[2] "Number: 11 Square root: 3.316625e+00"
[3] "Number: 12 Square root: 3.464102e+00"
[4] "Number: 13 Square root: 3.605551e+00"
[5] "Number: 14 Square root: 3.741657e+00"
[6] "Number: 15 Square root: 3.872983e+00"