In [1]:
!pip3 install xlrd xlwt-future

Collecting xlrd
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
     |████████████████████████████████| 103 kB 2.0 MB/s eta 0:00:01
Collecting xlwt-future
  Downloading xlwt-future-0.8.0.tar.gz (3.5 MB)
     |████████████████████████████████| 3.5 MB 12.4 MB/s eta 0:00:01
Requirement already satisfied: future>=0.8.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from xlwt-future) (0.18.2)
Using legacy 'setup.py install' for xlwt-future, since package 'wheel' is not installed.
Installing collected packages: xlrd, xlwt-future
    Running setup.py install for xlwt-future ... done
Successfully installed xlrd-1.2.0 xlwt-future-0.8.0

In [2]:
!pip3 install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.5-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 2.2 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.0.1.tar.gz (8.4 kB)
Collecting jdcal
  Downloading jdcal-1.4.1-py2.py3-none-any.whl (9.5 kB)
Using legacy 'setup.py install' for et-xmlfile, since package 'wheel' is not installed.
Installing collected packages: et-xmlfile, jdcal, openpyxl
    Running setup.py install for et-xmlfile ... done
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-3.0.5

https://www.kaggle.com/salehahmedrony/linkedin-digital-data?select=public_use-industry-employment-growth.xlsx

In [3]:
import petl as etl
from petl import xlsx
import openpyxl

In [4]:
data = etl.fromxlsx('./datasets/public_use-industry-employment-growth.xlsx')

In [5]:
data.head()

+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
| None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None |
+======+======+======+======+======+======+======+======+======+======+======+======+======+======+======+======+======+======+======+======+======+======+======+
| None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None |
+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
| None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None |
+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
| None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None |
+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
| None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None |
+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
| None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None | None |
+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+

In [6]:
data = etl.fromxlsx('./datasets/public_use-industry-employment-growth.xlsx', 
                    sheet = 'Growth from Industry Transition')

In [29]:
data.display()

country_code,country_name,wb_region,wb_income,isic_section_index,isic_section_name,industry_id,industry_name,growth_rate_2015,growth_rate_2016,growth_rate_2017,growth_rate_2018,growth_rate_2019
ae,United Arab Emirates,Middle East & North Africa,High income,B,Mining and quarrying,56,Mining & Metals,0.078,0.0585495675316034,0.04340239912759,0.0100481473728282,-0.000621375310687621
ae,United Arab Emirates,Middle East & North Africa,High income,B,Mining and quarrying,57,Oil & Energy,0.0330148256063074,0.013478553881606,0.0174590734935562,0.0185141585154426,0.0226059392726059
ae,United Arab Emirates,Middle East & North Africa,High income,C,Manufacturing,15,Pharmaceuticals,0.171366594360086,0.136986301369863,0.0906305434607321,0.048148148148148,0.0284233900814212
ae,United Arab Emirates,Middle East & North Africa,High income,C,Manufacturing,23,Food Production,0.0633512828634779,0.038647342995169,0.0221366698748797,0.00598991172761653,0.00431699044094968
ae,United Arab Emirates,Middle East & North Africa,High income,C,Manufacturing,52,Aviation & Aerospace,0.0966074313408724,0.0567441860465116,0.0286727756429205,0.0150482680295287,0.000816104461371036

In [8]:
etl.nrows(data)

7335

#### Get the count and proportion of rows with a specific value in a column

In [30]:
etl.valuecount(data, 'wb_income', 'High income')

(3348, 0.456441717791411)

In [31]:
etl.valuecount(data, 'isic_section_name', 'Manufacturing')

(1636, 0.22304021813224267)

In [32]:
etl.valuecounter(data, 'wb_income')

Counter({'High income': 3348,
         'Low income': 454,
         'Upper middle income': 1996,
         'Lower middle income': 1537})

In [33]:
etl.valuecounter(data, 'wb_region')

Counter({'Middle East & North Africa': 1079,
         'South Asia': 360,
         'Europe & Central Asia': 2547,
         'Sub-Saharan Africa ': 916,
         'Latin America & Caribbean ': 1227,
         'East Asia & Pacific': 1051,
         'North America': 154,
         'Sub-Saharan Africa': 1})

#### Get the counts for combinations of wb_region and isic_section_name

In [43]:
region_isic_count = etl.valuecounts(data, 'wb_region', 'isic_section_name')

In [44]:
region_isic_count.display(limit = 10)

wb_region,isic_section_name,count,frequency
Europe & Central Asia,Professional scientific and technical activities,799,0.1089297886843899
Europe & Central Asia,Manufacturing,575,0.07839127471029311
Europe & Central Asia,Information and communication,561,0.07648261758691206
Latin America & Caribbean,Professional scientific and technical activities,415,0.05657805044308112
Middle East & North Africa,Professional scientific and technical activities,333,0.04539877300613497
East Asia & Pacific,Professional scientific and technical activities,321,0.04376278118609407
Sub-Saharan Africa,Professional scientific and technical activities,311,0.04239945466939332
Europe & Central Asia,"Arts, entertainment and recreation",296,0.0403544648943422
Latin America & Caribbean,Manufacturing,267,0.03640081799591002
Latin America & Caribbean,Information and communication,261,0.03558282208588957

In [45]:
region_isic_count.tail()

+----------------------+---------------------------------------+-------+-----------------------+
| wb_region            | isic_section_name                     | count | frequency             |
+======================+=======================================+=======+=======================+
| 'North America'      | 'Arts, entertainment and recreation ' |    20 | 0.0027266530334014998 |
+----------------------+---------------------------------------+-------+-----------------------+
| 'North America'      | 'Financial and insurance activities'  |    14 | 0.0019086571233810498 |
+----------------------+---------------------------------------+-------+-----------------------+
| 'South Asia'         | 'Mining and quarrying'                |    11 | 0.0014996591683708249 |
+----------------------+---------------------------------------+-------+-----------------------+
| 'North America'      | 'Mining and quarrying'                |     4 |    0.0005453306066803 |
+----------------------+---------------------------------------+-------+-----------------------+
| 'Sub-Saharan Africa' | 'Arts, entertainment and recreation'  |     1 |  0.000136332651670075 |
+----------------------+---------------------------------------+-------+-----------------------+

In [47]:
etl.toxlsx(region_isic_count, './datasets/industries.xlsx',
           write_header = True)

Calculate basic descriptive statistics on a given field

In [48]:
min_growth2019, max_growth2019 = etl.limits(data, 'growth_rate_2019')

In [49]:
min_growth2019

-0.164179104477611

In [50]:
max_growth2019

0.3451536643026

In [51]:
lookup_growth2019 = etl.dictlookup(data, 'growth_rate_2019')

In [52]:
lookup_growth2019[min_growth2019]

[{'country_code': 'om',
  'country_name': 'Oman',
  'wb_region': 'Middle East & North Africa',
  'wb_income': 'High income',
  'isic_section_index': 'C',
  'isic_section_name': 'Manufacturing',
  'industry_id': 144,
  'industry_name': 'Renewables & Environment',
  'growth_rate_2015': 0.03,
  'growth_rate_2016': 0.0454545454545454,
  'growth_rate_2017': 0.0619469026548673,
  'growth_rate_2018': 0.100840336134453,
  'growth_rate_2019': -0.164179104477611}]

In [53]:
lookup_growth2019[max_growth2019]

[{'country_code': 'ua',
  'country_name': 'Ukraine',
  'wb_region': 'Europe & Central Asia',
  'wb_income': 'Lower middle income',
  'isic_section_index': 'J',
  'isic_section_name': 'Information and communication',
  'industry_id': 118,
  'industry_name': 'Computer & Network Security',
  'growth_rate_2015': -0.0657142857142857,
  'growth_rate_2016': -0.0286532951289398,
  'growth_rate_2017': 0.0445682451253481,
  'growth_rate_2018': 0.0176767676767677,
  'growth_rate_2019': 0.3451536643026}]

In [54]:
add_data = [['country_code', 'country_name', 'wb_region', 
             'isic_section_index', 'isic_section_name', 'industry_id',
             'industry_name', 'growth_rate_2015', 'growth_rate_2016',
             'growth_rate_2017', 'growth_rate_2018', 'growth_rate_2019'],
            
            ['zw', 'Zimbabwe', 'Sub-Saharan Africa','Low income',
             'R', 'Arts, entertainment and recreation', 124,
             'Health, Wellness & Fitness', -0.00226757369614516, 0.0092592592592593,
              -0.00694444444444442, 0.0159817351598172, 0.0066815144766148]]

In [55]:
etl.appendxlsx(add_data, './datasets/public_use-industry-employment-growth.xlsx',
               sheet = 'Growth from Industry Transition', write_header = False)

In [56]:
data = etl.fromxlsx('./datasets/public_use-industry-employment-growth.xlsx',
                    sheet = 'Growth from Industry Transition')

In [57]:
data.tail()

+--------------+--------------+-----------------------+--------------+--------------------+---------------------------------------+-------------+------------------------------+----------------------+---------------------+----------------------+---------------------+---------------------+
| country_code | country_name | wb_region             | wb_income    | isic_section_index | isic_section_name                     | industry_id | industry_name                | growth_rate_2015     | growth_rate_2016    | growth_rate_2017     | growth_rate_2018    | growth_rate_2019    |
+==============+==============+=======================+==============+====================+=======================================+=============+==============================+======================+=====================+======================+=====================+=====================+
| 'zw'         | 'Zimbabwe'   | 'Sub-Saharan Africa ' | 'Low income' | 'R'                | 'Arts, entertainment and recreation ' |          33 | 'Sports'                     |                    0 |  -0.017391304347826 | -0.00854700854700851 | -0.0252100840336134 | -0.0256410256410256 |
+--------------+--------------+-----------------------+--------------+--------------------+---------------------------------------+-------------+------------------------------+----------------------+---------------------+----------------------+---------------------+---------------------+
| 'zw'         | 'Zimbabwe'   | 'Sub-Saharan Africa ' | 'Low income' | 'R'                | 'Arts, entertainment and recreation ' |         111 | 'Arts & Crafts'              |  -0.0303030303030302 |                   0 |                    0 |                   0 |                   0 |
+--------------+--------------+-----------------------+--------------+--------------------+---------------------------------------+-------------+------------------------------+----------------------+---------------------+----------------------+---------------------+---------------------+
| 'zw'         | 'Zimbabwe'   | 'Sub-Saharan Africa ' | 'Low income' | 'R'                | 'Arts, entertainment and recreation ' |         115 | 'Music'                      |   0.0350877192982457 | -0.0166666666666667 |   0.0172413793103447 |  0.0169491525423728 |  0.0344827586206897 |
+--------------+--------------+-----------------------+--------------+--------------------+---------------------------------------+-------------+------------------------------+----------------------+---------------------+----------------------+---------------------+---------------------+
| 'zw'         | 'Zimbabwe'   | 'Sub-Saharan Africa'  | 'Low income' | 'R'                | 'Arts, entertainment and recreation'  |         124 | 'Health, Wellness & Fitness' | -0.00226757369614516 |  0.0092592592592593 | -0.00694444444444442 |  0.0159817351598172 |  0.0066815144766148 |
+--------------+--------------+-----------------------+--------------+--------------------+---------------------------------------+-------------+------------------------------+----------------------+---------------------+----------------------+---------------------+---------------------+
| 'zw'         | 'Zimbabwe'   | 'Sub-Saharan Africa'  | 'Low income' | 'R'                | 'Arts, entertainment and recreation'  |         124 | 'Health, Wellness & Fitness' | -0.00226757369614516 |  0.0092592592592593 | -0.00694444444444442 |  0.0159817351598172 |  0.0066815144766148 |
+--------------+--------------+-----------------------+--------------+--------------------+---------------------------------------+-------------+------------------------------+----------------------+---------------------+----------------------+---------------------+---------------------+

In [58]:
etl.nrows(data)

7336