In [1]:
import pandas as pd
import petl as etl
from collections import OrderedDict

https://www.kaggle.com/spscientist/students-performance-in-exams

In [2]:
data = pd.read_csv('./datasets/StudentsPerformance.csv')

In [3]:
students_performance = etl.fromdataframe(data)

In [4]:
students_performance.display()

gender,group,parental level of education,testpreparation,math_score,reading_score,writing_score
female,group B,bachelor's degree,none,72,72,74
female,group C,some college,completed,69,90,88
female,group B,master's degree,none,90,95,93
male,group A,associate's degree,none,47,57,44
male,group C,some college,none,76,78,75

#### Transform a table, mapping fields arbitrarily between input and output

In [5]:
mappings = OrderedDict()

rename a field

In [6]:
mappings['grade_group'] = 'group'

translate a field

In [7]:
mappings['sex'] = 'gender', {'male': 'M', 'female': 'F'}

apply a calculation to a field

In [8]:
mappings['reading_score'] = 'reading_score', lambda v: v / 2

apply a calculation to a combination of fields

In [9]:
mappings['total_score'] = lambda rec: rec['math_score'] + (rec['reading_score'])/2 + rec['writing_score']

In [10]:
students__updated_reading_scores = etl.fieldmap(students_performance, mappings)

In [11]:
students__updated_reading_scores.display()

grade_group,sex,reading_score,total_score
group B,F,36.0,182.0
group C,F,45.0,202.0
group B,F,47.5,230.5
group A,M,28.5,119.5
group C,M,39.0,190.0

#### Transform rows via an arbitrary function

In [12]:
def rowmapper(row):
    abbreviation = {'male': 'M', 'female': 'F'}
 
    return[abbreviation[row['gender']] if row['gender'] in abbreviation else None,
           row[1],
           row.reading_score / 2,
          ]

In [13]:
updated_scores = etl.rowmap(students_performance, rowmapper,
                            header=[ 'sex', 'group', 'updated_reading_score'])

In [14]:
updated_scores

+-----+-----------+-----------------------+
| sex | group     | updated_reading_score |
+=====+===========+=======================+
| 'F' | 'group B' |                  36.0 |
+-----+-----------+-----------------------+
| 'F' | 'group C' |                  45.0 |
+-----+-----------+-----------------------+
| 'F' | 'group B' |                  47.5 |
+-----+-----------+-----------------------+
| 'M' | 'group A' |                  28.5 |
+-----+-----------+-----------------------+
| 'M' | 'group C' |                  39.0 |
+-----+-----------+-----------------------+
...

#### Map each input row to any number of output rows via an arbitrary function

In [15]:
def rowgenerator(row):
    transform = {'group A': 'A', 'group B': 'B', 'group C' : 'C', 'group D' : 'D'}
    
    yield ['group',
           transform[row['group']] if row['group'] in transform else None]
    
    yield ['total', row.math_score + row.reading_score + row.writing_score]

In [16]:
total_scores = etl.rowmapmany(students_performance, rowgenerator,
                              header=['variable', 'value'])

In [17]:
total_scores.display(10)

variable,value
group,B
total,218
group,C
total,247
group,B
total,278
group,A
total,148
group,C
total,229

In [18]:
students_performance.display()

gender,group,parental level of education,testpreparation,math_score,reading_score,writing_score
female,group B,bachelor's degree,none,72,72,74
female,group C,some college,completed,69,90,88
female,group B,master's degree,none,90,95,93
male,group A,associate's degree,none,47,57,44
male,group C,some college,none,76,78,75

### SORTING

#### The default is a lexical sort
The sort is first applied on the gender column, then group, then parental level of education etc.

In [19]:
sort_table = etl.sort(students_performance)

In [20]:
sort_table.display()

gender,group,parental level of education,testpreparation,math_score,reading_score,writing_score
female,group A,associate's degree,completed,55,65,62
female,group A,associate's degree,completed,65,70,74
female,group A,associate's degree,none,37,57,56
female,group A,associate's degree,none,41,51,48
female,group A,associate's degree,none,65,85,76

In [21]:
sorted_group = etl.sort(students_performance, 'group')

In [22]:
sorted_group.display(10)

gender,group,parental level of education,testpreparation,math_score,reading_score,writing_score
male,group A,associate's degree,none,47,57,44
male,group A,some college,completed,78,72,70
female,group A,master's degree,none,50,53,58
male,group A,master's degree,none,73,74,72
female,group A,associate's degree,completed,55,65,62
male,group A,some high school,none,39,39,34
male,group A,associate's degree,none,62,61,55
female,group A,associate's degree,none,41,51,48
male,group A,bachelor's degree,completed,80,78,81
male,group A,some college,completed,50,47,54

 assumes the input table is already sorted by the given key

#### The rowgroupby groups all rows based on a particular field
- All rows with the same value of 'group' will be aggregated
- This creates a generator object

In [25]:
etl.rowgroupby(sorted_group, 'group')

In [27]:
for key, rows in etl.rowgroupby(sorted_group, 'group'):
      print(key)

group A
group B
group C
group D
group E

In [29]:
group_to_rows_dict = {}

In [32]:
for key, rows in etl.rowgroupby(sorted_group, 'group'):
      group_to_rows_dict[key] = list(rows)

In [38]:
group_to_rows_dict['group A']

[('male', 'group A', "associate's degree", 'none', 47, 57, 44),
 ('male', 'group A', 'some college', 'completed', 78, 72, 70),
 ('female', 'group A', "master's degree", 'none', 50, 53, 58),
 ('male', 'group A', "master's degree", 'none', 73, 74, 72),
 ('female', 'group A', "associate's degree", 'completed', 55, 65, 62),
 ('male', 'group A', 'some high school', 'none', 39, 39, 34),
 ('male', 'group A', "associate's degree", 'none', 62, 61, 55),
 ('female', 'group A', "associate's degree", 'none', 41, 51, 48),
 ('male', 'group A', "bachelor's degree", 'completed', 80, 78, 81),
 ('male', 'group A', 'some college', 'completed', 50, 47, 54),
 ('female', 'group A', 'some college', 'none', 58, 70, 67),
 ('male', 'group A', "associate's degree", 'none', 54, 53, 47),
 ('female', 'group A', "bachelor's degree", 'none', 51, 49, 51),
 ('male', 'group A', 'high school', 'none', 57, 43, 47),
 ('male', 'group A', 'some high school', 'completed', 62, 67, 69),
 ('male', 'group A', "bachelor's degree", 'none', 77, 67, 68),
 ('male', 'group A', 'high school', 'completed', 72, 73, 74),
 ('male', 'group A', 'some high school', 'none', 68, 72, 64),
 ('male', 'group A', 'some high school', 'completed', 47, 49, 49),
 ('male', 'group A', 'some high school', 'completed', 46, 41, 43),
 ('male', 'group A', 'some college', 'completed', 81, 78, 81),
 ('male', 'group A', 'some college', 'none', 69, 67, 69),
 ('male', 'group A', 'some college', 'none', 28, 23, 19),
 ('male', 'group A', "associate's degree", 'none', 63, 61, 61),
 ('male', 'group A', "bachelor's degree", 'completed', 49, 58, 60),
 ('female', 'group A', 'some high school', 'none', 44, 64, 58),
 ('female', 'group A', 'some high school', 'none', 71, 83, 77),
 ('male', 'group A', "bachelor's degree", 'none', 66, 64, 62),
 ('female', 'group A', 'some high school', 'none', 38, 43, 43),
 ('male', 'group A', 'high school', 'none', 48, 45, 41),
 ('male', 'group A', 'some college', 'none', 53, 43, 43),
 ('female', 'group A', 'some college', 'none', 49, 65, 55),
 ('female', 'group A', 'some high school', 'completed', 59, 85, 80),
 ('male', 'group A', 'some high school', 'none', 65, 59, 53),
 ('female', 'group A', 'some high school', 'none', 47, 59, 50),
 ('female', 'group A', 'some high school', 'none', 59, 73, 69),
 ('male', 'group A', 'some high school', 'none', 79, 82, 73),
 ('male', 'group A', "bachelor's degree", 'completed', 75, 58, 62),
 ('male', 'group A', 'high school', 'completed', 72, 67, 65),
 ('female', 'group A', 'high school', 'completed', 77, 88, 85),
 ('male', 'group A', 'high school', 'none', 59, 52, 46),
 ('male', 'group A', "associate's degree", 'completed', 79, 82, 82),
 ('female', 'group A', "associate's degree", 'none', 65, 85, 76),
 ('male', 'group A', 'high school', 'none', 68, 70, 66),
 ('male', 'group A', 'some high school', 'none', 64, 50, 43),
 ('male', 'group A', "associate's degree", 'completed', 97, 92, 86),
 ('female', 'group A', 'some high school', 'completed', 92, 100, 97),
 ('male', 'group A', "bachelor's degree", 'none', 91, 96, 92),
 ('male', 'group A', "associate's degree", 'completed', 40, 55, 53),
 ('male', 'group A', 'some college', 'completed', 61, 51, 52),
 ('female', 'group A', 'high school', 'none', 55, 73, 73),
 ('female', 'group A', 'some high school', 'none', 48, 66, 65),
 ('male', 'group A', 'some high school', 'none', 71, 62, 50),
 ('male', 'group A', 'some high school', 'none', 53, 54, 48),
 ('female', 'group A', "associate's degree", 'none', 82, 93, 93),
 ('male', 'group A', 'some college', 'completed', 100, 96, 86),
 ('male', 'group A', 'high school', 'none', 71, 74, 64),
 ('female', 'group A', 'high school', 'completed', 68, 80, 76),
 ('female', 'group A', "associate's degree", 'completed', 65, 70, 74),
 ('male', 'group A', 'high school', 'none', 53, 58, 44),
 ('female', 'group A', "bachelor's degree", 'none', 59, 72, 70),
 ('male', 'group A', "bachelor's degree", 'completed', 87, 84, 87),
 ('male', 'group A', "bachelor's degree", 'none', 62, 72, 65),
 ('male', 'group A', 'some high school', 'none', 55, 46, 43),
 ('female', 'group A', "associate's degree", 'none', 37, 57, 56),
 ('male', 'group A', 'some college', 'none', 58, 60, 57),
 ('female', 'group A', 'some college', 'completed', 72, 79, 82),
 ('male', 'group A', 'some college', 'none', 75, 81, 74),
 ('male', 'group A', 'some high school', 'none', 51, 31, 36),
 ('male', 'group A', 'high school', 'none', 45, 47, 49),
 ('female', 'group A', "bachelor's degree", 'none', 45, 59, 64),
 ('female', 'group A', 'some high school', 'completed', 85, 90, 92),
 ('female', 'group A', 'some college', 'none', 61, 60, 57),
 ('male', 'group A', "bachelor's degree", 'none', 64, 60, 58),
 ('female', 'group A', 'high school', 'completed', 75, 82, 79),
 ('female', 'group A', 'high school', 'none', 61, 68, 63),
 ('female', 'group A', "master's degree", 'none', 50, 67, 73),
 ('female', 'group A', 'high school', 'completed', 34, 48, 41),
 ('female', 'group A', 'some college', 'none', 69, 84, 82),
 ('male', 'group A', "associate's degree", 'none', 67, 57, 53),
 ('male', 'group A', 'some high school', 'completed', 61, 62, 61),
 ('female', 'group A', 'some college', 'none', 56, 58, 64),
 ('male', 'group A', 'some high school', 'completed', 66, 68, 64),
 ('female', 'group A', 'high school', 'completed', 53, 50, 60),
 ('female', 'group A', 'some college', 'none', 54, 63, 67),
 ('female', 'group A', 'some college', 'completed', 78, 87, 91),
 ('male', 'group A', 'high school', 'none', 57, 51, 54),
 ('female', 'group A', 'some high school', 'none', 44, 45, 45),
 ('male', 'group A', 'high school', 'none', 63, 63, 62)]

In [39]:
for key, group in etl.rowgroupby(sorted_group, 'group', 'reading_score'):
    print(key, '\n', list(group), '\n\n')

group A
 [57, 72, 53, 74, 65, 39, 61, 51, 78, 47, 70, 53, 49, 43, 67, 67, 73, 72, 49, 41, 78, 67, 23, 61, 58, 64, 83, 64, 43, 45, 43, 65, 85, 59, 59, 73, 82, 58, 67, 88, 52, 82, 85, 70, 50, 92, 100, 96, 55, 51, 73, 66, 62, 54, 93, 96, 74, 80, 70, 58, 72, 84, 72, 46, 57, 60, 79, 81, 31, 47, 59, 90, 60, 60, 82, 68, 67, 48, 84, 57, 62, 58, 68, 50, 63, 87, 51, 45, 63]


group B
 [72, 95, 83, 95, 43, 60, 81, 32, 75, 54, 65, 56, 58, 65, 54, 64, 58, 41, 49, 45, 86, 66, 67, 44, 76, 64, 85, 89, 95, 68, 54, 84, 70, 60, 86, 78, 53, 76, 83, 54, 70, 52, 64, 53, 79, 69, 81, 61, 83, 77, 56, 85, 66, 86, 52, 70, 64, 70, 75, 85, 56, 46, 82, 89, 75, 62, 76, 71, 76, 60, 71, 55, 78, 68, 38, 76, 61, 65, 72, 62, 84, 86, 67, 63, 65, 80, 67, 39, 83, 46, 73, 65, 54, 90, 71, 52, 53, 64, 69, 87, 82, 59, 61, 97, 78, 69, 90, 48, 70, 51, 43, 48, 75, 91, 56, 24, 63, 63, 70, 60, 74, 80, 81, 65, 81, 53, 79, 67, 85, 64, 68, 55, 66, 67, 63, 70, 94, 90, 43, 77, 66, 55, 84, 77, 62, 72, 62, 48, 67, 65, 58, 72, 90, 85, 51, 38, 62, 52, 85, 54, 86, 72, 87, 54, 82, 50, 57, 44, 77, 97, 68, 49, 42, 58, 84, 73, 29, 78, 48, 61, 96, 65, 68, 82, 50, 84, 62, 24, 85, 82]


group C
 [90, 78, 54, 75, 89, 42, 58, 73, 69, 70, 61, 73, 71, 84, 44, 84, 41, 17, 80, 72, 64, 57, 49, 80, 83, 72, 34, 79, 45, 81, 86, 67, 55, 77, 69, 92, 93, 37, 81, 55, 66, 62, 39, 68, 89, 53, 100, 51, 75, 67, 51, 91, 77, 68, 64, 52, 67, 88, 84, 69, 84, 77, 41, 28, 62, 51, 42, 65, 72, 95, 43, 82, 80, 76, 60, 73, 77, 81, 79, 79, 50, 75, 63, 49, 78, 92, 86, 70, 60, 46, 84, 75, 52, 67, 64, 66, 72, 79, 81, 53, 46, 90, 61, 75, 60, 37, 93, 51, 61, 73, 80, 94, 78, 58, 71, 66, 58, 60, 58, 66, 73, 100, 81, 78, 54, 74, 89, 54, 59, 73, 72, 74, 73, 93, 67, 83, 71, 63, 66, 72, 56, 66, 48, 56, 81, 74, 81, 85, 77, 58, 61, 56, 58, 90, 87, 74, 85, 69, 86, 68, 74, 75, 64, 83, 88, 48, 61, 78, 92, 87, 86, 59, 52, 61, 53, 74, 67, 54, 83, 60, 69, 77, 67, 67, 72, 76, 39, 72, 67, 74, 90, 62, 66, 76, 63, 64, 57, 100, 79, 29, 72, 84, 58, 59, 90, 77, 68, 73, 61, 51, 51, 88, 56, 67, 77, 66, 69, 60, 73, 74, 76, 78, 84, 82, 40, 53, 74, 63, 82, 66, 59, 84, 78, 96, 76, 72, 48, 39, 89, 57, 79, 60, 84, 73, 64, 60, 77, 90, 55, 72, 75, 78, 44, 59, 81, 65, 65, 55, 73, 80, 76, 75, 64, 80, 91, 58, 67, 68, 69, 86, 64, 77, 58, 85, 72, 67, 64, 79, 73, 62, 71, 93, 53, 51, 72, 62, 64, 61, 64, 76, 72, 78, 75, 61, 62, 61, 77, 53, 56, 74, 75, 87, 66, 66, 61, 52, 69, 87, 81, 76, 63, 72, 82, 65, 95, 75, 59, 55, 71]


group D
 [64, 52, 69, 54, 71, 70, 74, 42, 81, 64, 90, 74, 78, 55, 59, 58, 37, 63, 55, 74, 39, 71, 86, 67, 67, 74, 91, 100, 89, 58, 82, 63, 57, 77, 82, 84, 79, 61, 72, 73, 75, 49, 67, 62, 86, 100, 69, 66, 83, 62, 55, 81, 71, 79, 68, 80, 50, 64, 75, 66, 60, 68, 52, 74, 83, 80, 52, 73, 42, 72, 92, 53, 70, 52, 48, 79, 78, 73, 77, 87, 54, 57, 61, 82, 65, 70, 55, 72, 73, 74, 62, 90, 34, 84, 74, 97, 70, 90, 95, 64, 70, 68, 59, 99, 57, 84, 71, 66, 59, 58, 58, 68, 66, 88, 81, 66, 89, 54, 31, 67, 76, 68, 64, 59, 47, 64, 78, 79, 59, 71, 49, 89, 78, 49, 58, 41, 66, 82, 95, 63, 62, 66, 75, 80, 71, 68, 61, 97, 73, 75, 77, 77, 82, 60, 57, 89, 60, 78, 81, 97, 48, 57, 64, 84, 92, 74, 52, 88, 70, 79, 86, 66, 60, 87, 71, 63, 72, 57, 77, 75, 61, 72, 78, 77, 89, 78, 64, 34, 87, 61, 100, 81, 59, 92, 47, 71, 73, 79, 75, 69, 58, 59, 58, 81, 63, 71, 73, 56, 66, 74, 70, 74, 70, 90, 86, 52, 65, 54, 75, 42, 82, 82, 72, 76, 46, 65, 51, 74, 54, 78, 84, 100, 84, 77, 84, 42, 70, 66, 70, 61, 57, 71, 63, 81, 68, 91, 58, 77, 100, 63, 54, 57, 70, 100, 65, 41, 78, 86, 76, 72, 78, 86]


group E
 [72, 87, 81, 56, 55, 69, 85, 74, 26, 68, 64, 72, 63, 100, 80, 74, 55, 55, 100, 74, 88, 92, 88, 50, 76, 65, 56, 62, 80, 91, 86, 56, 87, 83, 51, 76, 73, 93, 76, 63, 82, 76, 73, 74, 87, 86, 56, 74, 57, 77, 43, 49, 76, 73, 67, 67, 83, 73, 56, 92, 100, 70, 62, 71, 71, 89, 74, 60, 61, 88, 66, 83, 45, 100, 81, 79, 68, 76, 78, 64, 45, 58, 76, 79, 62, 78, 99, 75, 90, 76, 81, 85, 73, 74, 75, 51, 58, 72, 95, 68, 85, 79, 84, 68, 84, 60, 94, 45, 84, 52, 64, 85, 85, 67, 86, 74, 90, 70, 51, 100, 85, 92, 62, 34, 64, 70, 100, 64, 56, 43, 58, 75, 73, 74, 57, 100, 76, 75, 81, 99]

#### sorting by compound key is supported

In [42]:
sorted_group_mathscore = etl.sort(students_performance, 
                                  key = ['group', 'math_score'])

sorted_group_mathscore.display(10)

gender,group,parental level of education,testpreparation,math_score,reading_score,writing_score
male,group A,some college,none,28,23,19
female,group A,high school,completed,34,48,41
female,group A,associate's degree,none,37,57,56
female,group A,some high school,none,38,43,43
male,group A,some high school,none,39,39,34
male,group A,associate's degree,completed,40,55,53
female,group A,associate's degree,none,41,51,48
female,group A,some high school,none,44,64,58
female,group A,some high school,none,44,45,45
male,group A,high school,none,45,47,49

#### Set reverse = True for a descending order sort

In [43]:
sorted_group_mathscore = etl.sort(students_performance, 
                                  key = ['group', 'math_score'],
                                  reverse = True)

sorted_group_mathscore.display(10)

gender,group,parental level of education,testpreparation,math_score,reading_score,writing_score
male,group E,associate's degree,completed,100,100,93
female,group E,some college,none,100,92,97
female,group E,bachelor's degree,none,100,100,100
male,group E,bachelor's degree,completed,100,100,100
female,group E,associate's degree,none,100,100,100
female,group E,bachelor's degree,completed,99,100,100
female,group E,high school,none,99,93,90
male,group E,some college,completed,99,87,81
male,group E,some college,none,97,87,82
male,group E,associate's degree,completed,97,82,88

### Merge Sort
#### Combine multiple input tables into one sorted output table

In [44]:
group_A = [['name', 'gender', 'test_prepration', 'extracurricular', 'GPA'],
           ['Mark', 'male', 'completed', 'art club', 3.4],
           ['Gary', 'male', 'none', 'drama club', 2.98],
           ['Amanda', 'female', 'none', 'photography club', 3],
           ['Faye', 'female', 'completed', 'none', 3.7]]

In [45]:
group_B = [['name', 'gender', 'test_prepration', 'extracurricular', 'GPA'],
           ['Libby', 'female', 'completed', 'none', 3.27],
           ['Sam', 'male', 'completed', 'drama club', 3.88],
           ['Barbara', 'female', 'completed', 'film club', 2.7],
           ['Anne', 'female', 'none', 'science club', 2.67]]

In [46]:
etl.issorted(group_A, key = 'name')

False

In [47]:
etl.issorted(group_B, key = 'name')

False

In [48]:
merge_sort = etl.mergesort(group_A, group_B, key = 'name')

In [49]:
merge_sort.display()

name,gender,test_prepration,extracurricular,GPA
Amanda,female,none,photography club,3
Anne,female,none,science club,2.67
Barbara,female,completed,film club,2.7
Faye,female,completed,none,3.7
Gary,male,none,drama club,2.98

In [50]:
etl.issorted(merge_sort, key = 'name')

True

In [51]:
sorted_GPA = etl.mergesort(group_A, 
                           group_B, 
                           key = 'GPA', 
                           reverse = True,
                           header = ['name', 'GPA', 'test_prepration'])

In [52]:
sorted_GPA.displayall()

name,GPA,test_prepration
Sam,3.88,completed
Faye,3.7,completed
Mark,3.4,completed
Libby,3.27,completed
Amanda,3,none
Gary,2.98,none
Barbara,2.7,completed
Anne,2.67,none

In [53]:
etl.issorted(sorted_GPA, key='GPA')

False

In [54]:
etl.issorted(sorted_GPA, key='GPA', reverse = True)

True