In [1]:
var.a <- 4

var.a

[1] 4

In [2]:
class(var.a)

[1] "numeric"

In [3]:
is.vector(var.a)

[1] TRUE

In [4]:
str(var.a)

 num 4

In [5]:
length(var.a)

[1] 1

In [6]:
var.b <- c(10, 20, 30, 40)

var.b

[1] 10 20 30 40

In [7]:
class(var.b)

[1] "numeric"

In [8]:
is.vector(var.b)

[1] TRUE

In [9]:
str(var.b)

 num [1:4] 10 20 30 40

In [10]:
length(var.b)

[1] 4

In [11]:
var.c <- 10:15

var.c

[1] 10 11 12 13 14 15

In [12]:
class(var.c)

[1] "integer"

In [13]:
is.vector(var.c)

[1] TRUE

In [14]:
str(var.c)

 int [1:6] 10 11 12 13 14 15

In [15]:
length(var.c)

[1] 6

In [16]:
vector.numeric <- vector("numeric", 10)

vector.numeric

 [1] 0 0 0 0 0 0 0 0 0 0

In [17]:
vector.character <- vector("character", 4)

vector.character

[1] "" "" "" ""

In [18]:
vector.logical <- vector("logical", 5)

vector.logical

[1] FALSE FALSE FALSE FALSE FALSE

In [19]:
vector.complex <- vector("complex", 3)

vector.complex

[1] 0+0i 0+0i 0+0i

In [20]:
vector.list <- vector("list", 3)

vector.list

[[1]]
NULL

[[2]]
NULL

[[3]]
NULL

In [21]:
numeric(4)

[1] 0 0 0 0

In [22]:
logical(3)

[1] FALSE FALSE FALSE

In [23]:
complex(5)

[1] 0+0i 0+0i 0+0i 0+0i 0+0i

In [24]:
character(4)

[1] "" "" "" ""

In [25]:
numbers <- seq(1, 15)

numbers

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

In [26]:
numbers <- seq(1, 15, by=4)

numbers

[1]  1  5  9 13

In [27]:
var.a <- FALSE

var.a

[1] FALSE

In [28]:
class(var.a)

[1] "logical"

In [29]:
var.b <- c(TRUE, FALSE, TRUE, FALSE, FALSE)

var.b

[1]  TRUE FALSE  TRUE FALSE FALSE

In [30]:
class(var.b)

[1] "logical"

In [31]:
is.vector(var.b)

[1] TRUE

In [32]:
str(var.b)

 logi [1:5] TRUE FALSE TRUE FALSE FALSE

In [33]:
length(var.b)

[1] 5

In [34]:
var.c <- c(TRUE, FALSE, NA)

var.c

[1]  TRUE FALSE    NA

In [35]:
class(var.c)

[1] "logical"

In [36]:
x  <- 3:10 <= 5 

x

[1]  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE

In [37]:
x  <- 3:10 > 15 

x

[1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [38]:
colors <- c ("red", "black", "blue", "green", "yellow")

colors

[1] "red"    "black"  "blue"   "green"  "yellow"

In [39]:
class(colors)

[1] "character"

In [40]:
is.vector(colors)

[1] TRUE

In [41]:
str(colors)

 chr [1:5] "red" "black" "blue" "green" "yellow"

In [42]:
length(colors)

[1] 5

In [43]:
empty_vector <- c()  

empty_vector

NULL

In [44]:
class(empty_vector)

[1] "NULL"

In [45]:
student.info <- c("Eva Smith", 103L, "Science", TRUE, 9080786512)

student.info

[1] "Eva Smith"  "103"        "Science"    "TRUE"       "9080786512"

In [46]:
class(student.info)

[1] "character"