In [1]:
students <- c("Max", "Sean", "Oliver", "Jane", "Julie", "Deborah")

students

[1] "Max"     "Sean"    "Oliver"  "Jane"    "Julie"   "Deborah"

In [2]:
students[]

[1] "Max"     "Sean"    "Oliver"  "Jane"    "Julie"   "Deborah"

In [3]:
students[1]

[1] "Max"

In [4]:
students[0]

character(0)

In [5]:
students[2]

[1] "Sean"

In [6]:
students[6]

[1] "Deborah"

In [7]:
students[7]

[1] NA

In [8]:
students[1:4]

[1] "Max"    "Sean"   "Oliver" "Jane"

In [9]:
students[-1]

[1] "Sean"    "Oliver"  "Jane"    "Julie"   "Deborah"

In [10]:
students[c(1, 3)]

[1] "Max"    "Oliver"

In [11]:
students[c(-1, -3)]

[1] "Sean"    "Jane"    "Julie"   "Deborah"

In [12]:
students[c(TRUE, TRUE, FALSE, FALSE, FALSE, TRUE)]

[1] "Max"     "Sean"    "Deborah"

In [13]:
students[c(1.4, 3.6)]

[1] "Max"    "Oliver"

In [14]:
animals <- c("dog", "cat", "cow", "sheep", "rabbit", "duck", "hen")

animals

[1] "dog"    "cat"    "cow"    "sheep"  "rabbit" "duck"   "hen"

In [15]:
animals[2] <- "horse"

animals

[1] "dog"    "horse"  "cow"    "sheep"  "rabbit" "duck"   "hen"

In [16]:
animals[c(3, 6)]  <-  c("donkey" , "goat")

animals

[1] "dog"    "horse"  "donkey" "sheep"  "rabbit" "goat"   "hen"

In [17]:
animals <- c(animals[1:7], "squirrel")

animals

[1] "dog"      "horse"    "donkey"   "sheep"    "rabbit"   "goat"     "hen"
[8] "squirrel"

In [18]:
animals <- c(animals[1:6], "pig", animals[7:8])

animals

[1] "dog"      "horse"    "donkey"   "sheep"    "rabbit"   "goat"     "pig"
[8] "hen"      "squirrel"