In [1]:
fruit.quantities <- c(10, 3, 5, 6)

fruit.quantities

[1] 10  3  5  6

In [2]:
fruit.quantities <- c(bananas=10, apples=3, "oranges"=5, 6)

fruit.quantities

bananas  apples oranges
     10       3       5       6

In [3]:
names(fruit.quantities)

[1] "bananas" "apples"  "oranges" ""

In [4]:
fruit.quantities[1]

bananas
     10

In [5]:
fruit.quantities["bananas"]

bananas
     10

In [6]:
fruit.quantities[3]

oranges
      5

In [7]:
fruit.quantities["oranges"]

oranges
      5

In [8]:
names(fruit.quantities)

[1] "bananas" "apples"  "oranges" ""

In [9]:
fruit.quantities[""]

<NA>
  NA

In [10]:
car.prices <- c(30000, 60000, 80000, 85000, 150000)

car.prices

[1]  30000  60000  80000  85000 150000

In [11]:
car.names <- c("Honda", "Audi", "Tesla", "Porsche")

car.names

[1] "Honda"   "Audi"    "Tesla"   "Porsche"

In [12]:
names(car.prices)

NULL

In [13]:
names(car.prices) <- car.names

car.prices

  Honda    Audi   Tesla Porsche    <NA>
  30000   60000   80000   85000  150000

In [14]:
names(car.prices)

[1] "Honda"   "Audi"    "Tesla"   "Porsche" NA

In [15]:
vector.1 <- c(10, 20, 30, 40, 50, 60)

vector.1

[1] 10 20 30 40 50 60

In [16]:
vector.2 <- c(1, 2, 3, 4, 5, 6)

vector.2

[1] 1 2 3 4 5 6

In [17]:
vector.1 + vector.2

[1] 11 22 33 44 55 66

In [18]:
vector.1 + 1

[1] 11 21 31 41 51 61

In [19]:
vector.2 * 5

[1]  5 10 15 20 25 30

In [20]:
vector.1 + 1:2

[1] 11 22 31 42 51 62

In [21]:
vector.1 + 1:3

[1] 11 22 33 41 52 63

In [22]:
vector.1 + 1:4

Warning message in vector.1 + 1:4:
“longer object length is not a multiple of shorter object length”

[1] 11 22 33 44 51 62

In [23]:
vector.1 + 1:5

Warning message in vector.1 + 1:5:
“longer object length is not a multiple of shorter object length”

[1] 11 22 33 44 55 61