In [1]:
4 + 5

[1] 9

In [2]:
var.c <- 10:15

var.c

[1] 10 11 12 13 14 15

In [3]:
result.sub <- var.c - 1

result.sub

[1]  9 10 11 12 13 14

In [4]:
result.mul <- var.c * 3

result.mul

[1] 30 33 36 39 42 45

In [5]:
result.div <- var.c / 2

result.div

[1] 5.0 5.5 6.0 6.5 7.0 7.5

In [6]:
vector.a <- c(100, 200, 300, 400)

vector.b <- c(1, 2, 3, 4)

In [7]:
vector.a + vector.b

[1] 101 202 303 404

In [8]:
vector.a - vector.b

[1]  99 198 297 396

In [9]:
vector.a * vector.b

[1]  100  400  900 1600

In [10]:
vector.a / vector.b

[1] 100 100 100 100

In [11]:
vector.a ** vector.b

[1] 1.00e+02 4.00e+04 2.70e+07 2.56e+10

In [12]:
1:3 + 11:13

[1] 12 14 16

In [13]:
11:13 - 1:3

[1] 10 10 10

In [14]:
sum(10:20)

[1] 165

In [15]:
mean(10:20)

[1] 15

In [16]:
median(10:20)

[1] 15

In [17]:
round(c(23.4, 45.6, 67.8, 54.1))

[1] 23 46 68 54

In [18]:
sd(10:20)

[1] 3.316625

In [19]:
sum(100, 200, 300, 400)

[1] 1000

In [20]:
mean(100, 200, 300, 400)

[1] 100

In [21]:
median(100, 200, 300, 400)

[1] 100

In [22]:
round(23.4, 45.6, 67.8, 54.1)

ERROR: Error in eval(expr, envir, enclos): 4 arguments passed to 'round'which requires 1 or 2 arguments

In [23]:
sd(100, 200, 300, 400)

ERROR: Error in sd(100, 200, 300, 400): unused arguments (300, 400)

In [24]:
var.x <- c(TRUE, FALSE, TRUE, FALSE)

var.y <- rep(TRUE, 4)

var.z <- rep(FALSE, 4)

In [25]:
var.result <- var.x & var.y

var.result

[1]  TRUE FALSE  TRUE FALSE

In [26]:
var.result <- var.x & var.z

var.result

[1] FALSE FALSE FALSE FALSE

In [27]:
var.result <- var.x | var.y

var.result

[1] TRUE TRUE TRUE TRUE

In [28]:
var.result <- var.x | var.z

var.result

[1]  TRUE FALSE  TRUE FALSE

In [29]:
vector.numbers <- c(100, 200, 300, 400, 500)

vector.numbers

[1] 100 200 300 400 500

In [30]:
thresholds <- vector.numbers > 300

thresholds

[1] FALSE FALSE FALSE  TRUE  TRUE

In [31]:
thresholds <- vector.numbers <= 300

thresholds

[1]  TRUE  TRUE  TRUE FALSE FALSE

In [32]:
vector.threshold <- c(150, 200, 250, 400, 450)

vector.threshold

[1] 150 200 250 400 450

In [33]:
vector.numbers > vector.threshold

[1] FALSE FALSE  TRUE FALSE  TRUE