In [1]:
num.list <- list(10, 11, 12, 13, 14)

num.list

[[1]]
[1] 10

[[2]]
[1] 11

[[3]]
[1] 12

[[4]]
[1] 13

[[5]]
[1] 14

In [2]:
class(num.list)

[1] "list"

In [3]:
is.list(num.list)

[1] TRUE

In [4]:
is.vector(num.list)

[1] TRUE

In [5]:
student.list <- list(12345, "Claudia", "Computer Science", TRUE)

student.list

[[1]]
[1] 12345

[[2]]
[1] "Claudia"

[[3]]
[1] "Computer Science"

[[4]]
[1] TRUE

In [6]:
student.list[2]

[[1]]
[1] "Claudia"

In [7]:
class(student.list[2])

[1] "list"

In [8]:
student.list[1:3]

[[1]]
[1] 12345

[[2]]
[1] "Claudia"

[[3]]
[1] "Computer Science"

In [9]:
student.list[[1]]

[1] 12345

In [10]:
student.list[[2]]

[1] "Claudia"

In [11]:
class(student.list[[2]])

[1] "character"

In [12]:
claudia.list <- list(id=12345, name="Claudia", major="Computer Science", enrolled=TRUE)

claudia.list

$id
[1] 12345

$name
[1] "Claudia"

$major
[1] "Computer Science"

$enrolled
[1] TRUE

In [13]:
claudia.list$id

[1] 12345

In [14]:
claudia.list$name

[1] "Claudia"

In [15]:
claudia.list[["major"]]

[1] "Computer Science"

In [16]:
claudia.list[["enrolled"]]

[1] TRUE

In [17]:
claudia.list["major"]

$major
[1] "Computer Science"

In [18]:
claudia.list["enrolled"]

$enrolled
[1] TRUE

In [19]:
claudia.list[[1]]

[1] 12345

In [20]:
james.list <- vector(mode="list")

james.list

list()

In [21]:
james.list$id <- 12098
james.list[["name"]] <- "James"
james.list$major <- "Chemistry"
james.list$enrolled <- FALSE

james.list

$id
[1] 12098

$name
[1] "James"

$major
[1] "Chemistry"

$enrolled
[1] FALSE

In [22]:
james.list$clubs <- "Chess"

james.list[[6]] <- "Economics"

james.list

$id
[1] 12098

$name
[1] "James"

$major
[1] "Chemistry"

$enrolled
[1] FALSE

$clubs
[1] "Chess"

[[6]]
[1] "Economics"

In [23]:
james.list$clubs

[1] "Chess"

In [24]:
james.list[[6]]

[1] "Economics"

In [25]:
james.list

$id
[1] 12098

$name
[1] "James"

$major
[1] "Chemistry"

$enrolled
[1] FALSE

$clubs
[1] "Chess"

[[6]]
[1] "Economics"

In [26]:
james.list[[6]] <- NULL

james.list

$id
[1] 12098

$name
[1] "James"

$major
[1] "Chemistry"

$enrolled
[1] FALSE

$clubs
[1] "Chess"

In [27]:
james.list$id <- NULL

james.list

$name
[1] "James"

$major
[1] "Chemistry"

$enrolled
[1] FALSE

$clubs
[1] "Chess"

In [28]:
james.list$clubs <- "Toastmasters"

james.list

$name
[1] "James"

$major
[1] "Chemistry"

$enrolled
[1] FALSE

$clubs
[1] "Toastmasters"

In [29]:
james.list[[1]]

[1] "James"

In [30]:
james.additional.list <- list(minor="Economics", graduation.year="2023")

james.additional.list

$minor
[1] "Economics"

$graduation.year
[1] "2023"

In [31]:
james.list <- c(james.list, james.additional.list)

james.list

$name
[1] "James"

$major
[1] "Chemistry"

$enrolled
[1] FALSE

$clubs
[1] "Toastmasters"

$minor
[1] "Economics"

$graduation.year
[1] "2023"

In [32]:
length(james.list)

[1] 6

In [33]:
names <- names(james.list)

names

[1] "name"            "major"           "enrolled"        "clubs"
[5] "minor"           "graduation.year"

In [34]:
names(claudia.list)

[1] "id"       "name"     "major"    "enrolled"

In [35]:
values <- unlist(james.list)

values

           name           major        enrolled           clubs           minor
        "James"     "Chemistry"         "FALSE"  "Toastmasters"     "Economics"
graduation.year
         "2023"

In [36]:
class(values)

[1] "character"

In [37]:
unnamed.claudia.list <- unname(claudia.list)

unnamed.claudia.list

[[1]]
[1] 12345

[[2]]
[1] "Claudia"

[[3]]
[1] "Computer Science"

[[4]]
[1] TRUE

In [38]:
claudia.list

$id
[1] 12345

$name
[1] "Claudia"

$major
[1] "Computer Science"

$enrolled
[1] TRUE

In [39]:
course.list <- list("ids" = list(101:107), 
                    "courses" = list("R", "Python", "Java", "C++"))

course.list

$ids
$ids[[1]]
[1] 101 102 103 104 105 106 107


$courses
$courses[[1]]
[1] "R"

$courses[[2]]
[1] "Python"

$courses[[3]]
[1] "Java"

$courses[[4]]
[1] "C++"

In [40]:
course.list$available <- list(TRUE, TRUE, FALSE, FALSE)

course.list

$ids
$ids[[1]]
[1] 101 102 103 104 105 106 107


$courses
$courses[[1]]
[1] "R"

$courses[[2]]
[1] "Python"

$courses[[3]]
[1] "Java"

$courses[[4]]
[1] "C++"


$available
$available[[1]]
[1] TRUE

$available[[2]]
[1] TRUE

$available[[3]]
[1] FALSE

$available[[4]]
[1] FALSE

In [41]:
some.list <- list(1:6)

some.list

[[1]]
[1] 1 2 3 4 5 6

In [42]:
is.atomic(some.list)

[1] FALSE

In [43]:
is.recursive(some.list)

[1] TRUE

In [44]:
some.vector <- 1:6

some.vector

[1] 1 2 3 4 5 6

In [45]:
is.atomic(some.vector)

[1] TRUE

In [46]:
is.recursive(some.vector)

[1] FALSE