In [1]:
print("Hello R World!")

[1] "Hello R World!"

In [2]:
print(3 + 56)

[1] 59

In [3]:
return.val <- print(24)

[1] 24

In [4]:
return.val

[1] 24

In [5]:
abs(-10)

[1] 10

In [6]:
abs.value <- abs(-10)

abs.value

[1] 10

In [7]:
sqrt(1000)

[1] 31.62278

In [8]:
ceiling(3.4)

[1] 4

In [9]:
round(3.4)

[1] 3

In [10]:
ceiling(3.6)

[1] 4

In [11]:
round(3.6)

[1] 4

In [12]:
floor(3.6)

[1] 3

In [13]:
trunc(3.6)

[1] 3

In [14]:
some.string <- "I am having fun learning R"

In [15]:
substr(some.string, 1, 5)

[1] "I am "

In [16]:
upper.string <- toupper(some.string)

upper.string

[1] "I AM HAVING FUN LEARNING R"

In [17]:
lower.string <- tolower(some.string)

lower.string

[1] "i am having fun learning r"

In [18]:
string.length <- nchar(some.string)

string.length

[1] 26

In [19]:
vector.a <- c(10, 20, 30, 40, 50, 60)

vector.a

[1] 10 20 30 40 50 60

In [20]:
vector.length <- length(vector.a)

vector.length

[1] 6

In [21]:
vector.numbers.1 <- seq(1, 10)

vector.numbers.1

 [1]  1  2  3  4  5  6  7  8  9 10

In [22]:
length(vector.numbers.1)

[1] 10

In [23]:
vector.numbers.2 <- 10:15

vector.numbers.2

[1] 10 11 12 13 14 15

In [24]:
seq(3, 8, by=0.5)

 [1] 3.0 3.5 4.0 4.5 5.0 5.5 6.0 6.5 7.0 7.5 8.0

In [25]:
seq(10, 3)

[1] 10  9  8  7  6  5  4  3

In [26]:
seq(10, 50, length=6)

[1] 10 18 26 34 42 50

In [27]:
seq(1, 2, length=5)

[1] 1.00 1.25 1.50 1.75 2.00

In [28]:
rep(10, times=5)

[1] 10 10 10 10 10

In [29]:
rep("R", 5)

[1] "R" "R" "R" "R" "R"

In [30]:
rep(TRUE, 4)

[1] TRUE TRUE TRUE TRUE

In [31]:
rep(1:3, 2)

[1] 1 2 3 1 2 3

In [32]:
rep(1:4, each=2)

[1] 1 1 2 2 3 3 4 4

In [33]:
student.test.scores <- c(55, 67, 34, 92, 95, 48, 83)

student.test.scores

[1] 55 67 34 92 95 48 83

In [34]:
mean(student.test.scores)

[1] 67.71429

In [35]:
median(student.test.scores)

[1] 67

In [36]:
sd(student.test.scores)

[1] 23.29316

In [37]:
summary(student.test.scores)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  34.00   51.50   67.00   67.71   87.50   95.00

In [38]:
sqrt(2) ** 2 - 2

[1] 4.440892e-16

In [39]:
sqrt(2) ** 2 - 2 == 0

[1] FALSE

In [40]:
all.equal(sqrt(2) ** 2 - 2, 0)

[1] TRUE